{% extends 'base.html' %}
{% load static %}

{% block title %} Recuperar Senha {% endblock %}

{% block content %}

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">Esqueceu sua senha?</h1>
                  <p class="mb-4">Insira o seu usuário abaixo e mandaremos o procedimento para recuperar a senha!</p>
                </div>
                {% if user.is_authenticated %}
                  <p class="mb-4">
                    Você já está logado
                  </p>
                {% else %}
                  <form class="user" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Nome de usuário">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Recuperar senha
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'signup' %}">Crie sua conta!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'login' %}">Já tem uma conta? Login!</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

{% endblock %}