{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}

    <!-- <p class="mt-4">
      Quer trocar sua senha? Entre em: <a href="#">Trocar Senha</a>
    </p>


    <button type="submit" class="btn btn-primary">Alterar Dados</button>
<a class="btn btn-danger" href="#" data-toggle="modal" data-target="#excluirModal" role="button ">Excluir Usuário</a> -->



    {% for produto in object_list %}
        <div class="post-entry">
            <div class="nav-left">
                <h1>{{ produto.nome }}</h1>
                <p>{{ produto.validade }}</p>
            </div>
            <div class="nav-right">
                <h3><a href="{% url 'produto_edit' produto.pk %}">Editar produto</a></h3>
            </div>
        </div>
    {% endfor %}
{% endblock content %}