{% extends 'base.html' %}
{% block title %} Despensa {% endblock title %}
{% block content %}

<p class="mt-4">Nome: {{ user.first_name }} {{ user.last_name }}</p>
<p class="mt-1">Nome de usuário: {{ user.username }}</p>
<p class="mt-1">Endereço de e-mail: {{ user.email }}</p>
<p class="mt-4">
    Para trocar a senha, entre em: <a href="#">Trocar Senha</a>
  </p>
<a class="btn btn-primary" href="#" role="button ">Alterar dados</a>
<a class="btn btn-danger" href="#" role="button ">Excluir Usuário</a>

{% endblock content %}