{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Bem-vindo ao 10Pensa!</h1>
            {% if user.is_authenticated %}
            <p class="lead">Entre na sua despensa!</p>
            <a class="nav-link" href="{% url 'despensa' %}">Despensa</a>
            <br>
            <p class="lead">Acesse suas receitas!</p>
            <a class="nav-link" href="{% url 'receitas' %}">Receitas</a>
            {% else %}
            <p class="lead">Faça login para ter acesso à sua despensa.</p>
            <p><a class="nav-link" href="{% url 'login' %}">login</a></p>
            <p class="lead">Não tem cadastro? Faça agora!</p>
            <p><a class="nav-link" href="{% url 'signup' %}">Cadasre-se</a></p>
            {% endif %}
        </div>
        </div>
    </div>
{% endblock content %}