{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href={% static 'vendor/fontawesome-free/css/all.min.css' %} rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:40">

    <!-- Bootstrap core CSS Bare -->
    <link href={% static 'vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">

    <!-- Custom styles for this SB Admin 2-->
    <link href={% static 'css/sb-admin-2.min.css' %} rel="stylesheet">

    <title>{% block title %} {% endblock title %}</title>
    

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
        <a class="navbar-brand" href="/">Projeto 10Pensa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Início
                <span class="sr-only">(current)</span>
                </a>
            </li>
            
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" style="color: salmon;" href="{% url 'despensa' %}">Despensa de {{user.first_name}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: salmon;" href="{% url 'receitas' %}">Receitas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'perfil' %}">Seu perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Cadastre-se</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="container">
        {% block content %} {% endblock content %}
    </div>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; 10Pensa 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>